*{
	margin: 0;
	padding: 0;
}
.clear{
	clear: both;
}

.container{
	width: 900px;
	background: #fff;
	margin: 0 auto;
	padding-left: 45px;
	padding-right: 45px;
}

/****header区域*****/
.header .logo{
	height: 61px;
}
.header .link, .header .date{
	font-size: 12px;
	padding-top: 42px;
	font-family: "SimHei"；
}
.logo .left{
	background: #d45d5c;
	color: #fff;
	float: left;
	width: 106px;
	height: 19px;
	padding-left: 4px;
}
.header .right{
	float: right;
	color: #d45d5c;
}

.header .line{
	height: 2px;
	background: #938e8c;
}



/****topic区域******/
.topic{
	height: 301px;
	
	margin-top: 62px;
}
.topic .img{
	float: left;
	width: 636px;
	height: 301px;
	background: url(l-t-img.jpg) no-repeat;
}
.topic .left{
	width: 191px;
	height: 301px;
	float: left;
	background: #a0c5ac;
	filter:alpha(opacity=50); 
	-moz-opacity:0.5; 
	opacity:0.5;
}
.topic .right{
	width: 191px;
	height: 301px;
	float: right;
	background: #e5babf;
	filter:alpha(opacity=50); 
	-moz-opacity:0.5; 
	opacity:0.5;
}
.topic .text{
	float: right;
	width: 203px;
	padding-left: 16px;
}
.text p{
	line-height: 1em;
}
.text p:first-letter{
	text-transform: uppercase;
}
.text .line{
	background: #cc8091;
	height: 2px;	
}

.text .big{
	color: #000;
	font-size: 24px;
	font-family: "Microsoft YaHei";
	
	text-decoration: underline;    
	font-variant: small-caps;    /*关键样式*/
	text-transform: capitalize;  /*关键样式*/  
}
/*.text p.big:first-letter{
	font-size: 1.5em;
}
.text .big:after{
	content: '';
	display: block;
	height: 1px;
	background: #888686;
}*/
.text .top-big{
	margin-top: 10px;
}
.text .bottom-big{
	margin-bottom: 2px;
	margin-top: 6px;
}

.text .small{
	text-transform: lowercase;
	font-size: 12px;
	color: #676767;
	font-family: "KaiTi";  
}

.text .bigbig{
	font-size: 116px;
	color: #75b86b;
	font-family: "Microsoft YaHei";
	font-style: italic;
	margin-left: -16px;
	margin-top: 26px;
	
}

.text .bottom{
	
}
.text .bottom-left{
	font-size: 55px;
	color: #cc8091;
	float: left;
	margin-left: 6px;
	margin-top: 4px;

}
.text .bottom-right{
	float: left;
	padding-top: 22px;
	margin-left: 4px;
	
}
.text .bottom-small{
	font-size: 21px;
	text-transform: uppercase;
	color: #cc8091;
	
}
.text .bottom-small-small{
	text-transform: lowercase;
	font-size: 12px;
	color: #ccc
	
	
}
.text p.bottom-small-small:first-letter{
	text-transform: lowercase;
}


/****introduction部分***/
.introduction{
	width: 636px;
	margin-top: 40px;
}
.introduction h2:first-letter{
	text-transform: uppercase;
}
.what{
	width: 36%;
	float: left;
	margin-right:26px;
}
.what-title{
	font-size: 16px;
	text-decoration: underline;
	font-weight: bold;
	color: #418c59;
}
.when{
	width: 27%;
	float: left;
	margin-right:26px;
}
.when-title{
	color: #d2994f;
	font-size: 16px;
	text-decoration: underline;
	font-weight: bold;
}
.how{
	width: 27%;
	float: left;
}
.how-title{
	color: #cc7680;
	font-size: 16px;
	text-decoration: underline;
	font-weight: bold;
}
.introduction p{
	margin-top: 12px;
	color: #231815;
	font-size: 12px;
	font-family: "Microsoft YaHei";
	filter:alpha(opacity=70); 
	-moz-opacity:0.7; 
	opacity:0.7;
	line-height: 16px;
}
.introduction ul{
	
	padding-left: 4px;
	list-style: none;
	margin-top: 28px;
	color: #7e7b7a;
	font-size: 12px;
	font-family: "Microsoft YaHei";
	filter:alpha(opacity=70); 
	-moz-opacity:0.7; 
	opacity:0.7;
	line-height: 20px;
	
}

.introduction ul span{
	color: #dd8f8e;
	font-style: italic;
}


/*********content部分***********/
.content{
	margin-top: 46px;
}
.right-content{
	float: right;
	width: 456px;
}
.left-content{
	margin-right: 472px;

}
.right-top-content{
	width: 459px;
	padding-top: 200px;
	background: url(img-right.jpg) no-repeat;
}
.right-top-content .img-text{
	height: 56px;
	background: #363434;
	filter:alpha(opacity=70); 
	-moz-opacity:0.7; 
	opacity:0.7;
	position: relative;
}
.right-top-content p{
	height: 38px;
	border-left: #72b161 3px solid;
	margin-left: 40px;
	padding: 6px 0 6px 12px;
	font-size: 26px;
	color: #fff;
	
	position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
	margin-top: auto;
	margin-bottom: auto;
}
.right-top-content p span{
	color: #72b16a;
	font-style: italic;
	font-size: 12px;
	margin-left: 4px;
}

.right-bottom-content{
	background: #eeedd6;
	width: 459px;
	height: 318px;
	margin-top: 28px;
}
.right-bottom-content .bottom{
	
}
.right-bottom-content .bottom .left{
	width: 260px;
	
	background: #d45d5c;
	float: left;
	padding: 36px 12px 36px 12px;
}
.right-bottom-content .bottom .left .zero{
	float: left;
	font-size: 110px;
	color: #fff;
	line-height: 90px;
	font-family: "Microsoft YaHei";
	border-right: 2px solid #fff;
	margin-right: 8px;
}
.right-bottom-content .bottom .left .zero-right h3{
	font-size: 21px;
	color: #fff;
	font-style: italic;
	line-height: 24px;
	font-family: SimHei;
}
.right-bottom-content .bottom .left .zero-right p{
	font-size: 12px;
	color: #fff;
	line-height: 16px;
	font-family: SimHei;
}


.right-bottom-content .bottom .right{
	margin-left: 278px;
}
.right-bottom-content .bottom .right p{
	font-size: 14px;
	color: #5a5a5b;
	font-family: "SimHei";
	font-style: italic;
	line-height: 16px;
	
}
.right-bottom-content .top{
	padding-top: 36px;
	padding-right: 14px;
}
.right-bottom-content .top ul{
	margin-left: 50px;
	
}
.right-bottom-content .top li{
	list-style-image:url(tri.png);
	font-size: 16px;
	color: #5a5b5b;
	line-height: 28px;
	letter-spacing: 2px;
}
.right-bottom-content .top li span{
	color: #5a5b5b;
	font-size: 12px;
	font-style: italic;
	font-family: SimSun;
}
.right-bottom-content .bottom{
	margin-top: 36px;
}
.right-bottom-content .bottom .right p span{
	color: #d45d5c;
	font-size: 72px;
	font-style: normal;
	
}
.right-bottom-content .bottom .right .sign1{
	float: left;
	margin-top: 12px;
	margin-left: -30px;
	height: 0px;
}
.right-bottom-content .bottom .right .sign2{
	float: right;
	margin-top: 28px;
	margin-right: 60px;
	height: 0px;
}


.left-top-content h2{
	font-size: 42px;
	color: #11456b;
	font-family: "SimHei";
	font-weight: bold;
	text-transform: uppercase;
}
.left-top-content h2 span{
	font-size: 72px;
	color: #f5e327;
	font-style: italic;
}
.left-top-content h3{
	font-size: 33px;
	color: #11456b;
	font-family: "SimHei"
	font-weight: bold;
}
.left-line{
	margin-top: 16px;
	background: #11456b;
	height: 2px;
	margin-bottom: 24px;
}
.left-bottom-content p{
	font-size: 12px;
	line-height: 16px;
	color: #767777;
	text-indent: 2em;
	font-family: "SimSun";
	
}
.first-word{
	float:left;
	font-size: 70px;
	color: #f5e327;
	font-family: "Microsoft YaHei";
	line-height: 1em;
}
p.first-para{
	text-indent: 0;
}

.left-bottom-content img{
	float: right;
	margin: 14px 0 14px 14px;
}


.footer p{
	margin-top: 36px;
	border-top:	#938e3c 1px solid;
	color: #d45d5c;
	font-size: 12px;
	font-family: SimHei;
	text-align: right;
	margin-bottom: 40px;
}
